.lastmessage{
    margin-top: 20px;
    color: rgb(129, 129, 129);
    font-size: x-large;
    font-family: Abel;
}




.footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}


.footer ul.foot{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.footer ul.foot li.scent{
    float: left;
}





.footer ul.foot li.button a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Allerta Stencil";
}


.footer ul.foot li.button a:hover:not(.active) {
    text-decoration: underline;
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgb(211, 211, 211),
    4px 4px 5px rgb(184, 184, 184),
    0px 0px 7px rgb(102, 102, 102);;
}






.footer .twitter{
    background: #ffffff00;
    
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    margin: 10px 5px;
    font-size: xx-large;
}
.footer .instagram{
    background: #ffffff00;
    
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    margin: 10px 5px;
    font-size: xx-large;
}
.footer .youtube{
    background-color: ffffff00;
    
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    margin: 10px 5px;
    font-size: xx-large;
}

.fa{
    color: white;
}

div.socialways a:hover:not(.active){
    text-shadow: 0 1px #808d93,
       	              -1px 0 #cdd2d5,
       	              -1px 2px #808d93,
       	              -2px 1px #cdd2d5,
       	              -2px 3px #808d93,
       	              -3px 2px #cdd2d5,
       	              -3px 4px #808d93,
       	              -4px 3px #cdd2d5,
       	              -4px 5px #808d93,
       	              -5px 4px #cdd2d5,
       	              -5px 6px #808d93,
       	              -6px 5px #cdd2d5,
       	              -6px 7px #808d93,
       	              -7px 6px #cdd2d5,
       	              -7px 8px #808d93,
       	              -8px 7px #cdd2d5;
}

.nav ul.icnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff00;
    /* position: fixed;
    top: 0;
    width: 100%; */
}


li.icon {
    float: left;
}

li.buttons{
    float: right;
}


li.buttons a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Allerta Stencil";
    font-size: x-large;
}


li a:hover:not(.active) {
    text-decoration: underline;
    font-weight: bold;
}


.header table.sub_header{
    background: url(https://i.redd.it/99b2b93sytf21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

  

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 0px;
    border-bottom: solid 2px rgb(0, 247, 255);
    background-color: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: greenyellow;
    font-family: sans-serif;
    margin: 10px;
  }



  input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 0px;
    border-bottom: solid 2px rgb(0, 247, 255);
    background-color: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: greenyellow;
    font-family: sans-serif;
    margin: 10px;
  }

  ::placeholder{
      color: greenyellow;
      font-family: sans-serif;
  }

  .hde{
      display: none;
  }

  

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  @media screen and (max-width: 720px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.question{    
    padding: 100px 10%;
    text-align: center;
    background: url(https://lifeskills.ge/wp-content/uploads/2019/06/getty_502543578_124050.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: fit-content;
    width: auto;
    vertical-align: middle;
}

.ques{
    font-size: 30px;
    font-family: Audiowide;
    color: white;
    background: rgba(0, 0, 0, 0.18);
}



.contact{
    font-family: Audiowide;
    font-size: 50px;
    color: white;
    font-weight: lighter;
}